.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 6px;
    /* align-items: start; */
    /* align-items: end; */
    /* align-items: stretch; */
    /* justify-items: start; */
    /* justify-items: end; */
}

.container>div {
    background: lightgreen;
    padding: 15px;
}

.mydiv {
    /* justify-self: start; */
    /* justify-self: end; */
    /* align-self: end; */
    /* align-self: center; */
    /* align-self: start; */
    /* justify-self: center; */
}